<h1 style="text-align: center;font-weight: bold;">Listed</h1>
<mat-grid-list *ngIf="ListedItems.length > 0" cols="4" rowHeight="400px" [gutterSize]="'20px'" >
    <mat-grid-tile  *ngFor="let item of ListedItems">
        <mat-card class="example-card" style="    height: 320px;width:96%">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image style="height: 60%;" src={{item.image}} alt="Photo of a NFT">
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>

          </mat-card>
    </mat-grid-tile>
</mat-grid-list>
<h1 style="text-align: center;font-weight: bold;">Sold</h1>
<mat-grid-list *ngIf="ListedItems.length > 0" cols="4" rowHeight="400px" [gutterSize]="'20px'" >
    <mat-grid-tile  *ngFor="let item of SoldItems">
        <mat-card class="example-card" style="    height: 320px;width:96%">
            <mat-card-header>
              <mat-card-title>{{item.name}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image style="height: 60%;" src={{item.image}} alt="Photo of a NFT">
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>

          </mat-card>
    </mat-grid-tile>
</mat-grid-list>
