<div class="container">
    <p style="text-align:left;font-family: 'Oleo Script Swash Caps';font-size: 30px">NFT</p>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="form" (ngSubmit)="createNFT()" >
    <mat-form-field  appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput name="Name" formControlName="Name" >
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput name="description" formControlName="description" >
    </mat-form-field>
    <mat-form-field  appearance="fill">
        <mat-label>Price</mat-label>
        <input matInput name="price" formControlName="price" type="number">
    </mat-form-field>
    <br>
    
    
    <br>
    <!-- <mat-label>Image 1</mat-label>
    <input type="file" name="img1">
    <input class="ng-hide" id="input-file-id" multiple type="file" />
    <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->
    <!-- <input type="file" formControlName="image1" name="image1" (change)="uploadimg1($event)">
    <input type="file" formControlName="image2" name="image2" (change)="uploadimg2($event)">
    <input type="file" formControlName="image3" name="image3" (change)="uploadimg3($event)"> -->
    <mat-form-field class="x">
      <div>
        <mat-toolbar>
          <input matInput [(ngModel)]="fileAttr1" readonly name="name1" formControlName="image"/>
          <button mat-flat-button color="primary">Importer Image</button>
        </mat-toolbar>
        <input
          type="file" #fileInput1 id="uploadFile" (change)="uploadToIPFS($event)" name="img1" multiple="multiple" accept="image/*" 
           />
      </div>
    </mat-form-field>
    
      <br>

    <div style="width: 35vw;text-align: right;" *ngIf="LoadImageFinish; else noContent1">
        <button mat-raised-button  style="font-weight: bold;font-size: 20px;" type="submit">Ajouter</button>
    </div>
    <ng-template #noContent1>
        <div style="width: 35vw;text-align: right;">
        <button mat-raised-button  style="font-weight: bold;font-size: 20px;" type="submit" disabled>Ajouter</button>
    </div>
    </ng-template>
    </form>
    </div>
